<div class="notice_box">
    <div nz-row [nzGutter]="24" [nzType]="'flex'" [nzJustify]="'space-between'">
        <div nz-col [nzSpan]="11">
            <nz-card style="width:100%;">
                <ng-template #title>
                    <h2>4.4.2版本更新内容</h2>
                </ng-template>
                <ng-template #extra>
                    <a title="其实没什么用">反馈BUG</a>
                </ng-template>
                <ng-template #body>
                    <h2>1. 用户来源平台修改，修改为来源，平台，只二系统，软件下载源，用户地区，邀请人</h2>
                    <h2>2. 会员管理-列表展示修改，导出数据修改</h2>
                    <h2>3. 使用APP，微信服务号，小程序可以正常获取三方下载源和系统</h2>
                    <h2>4. 旧数据对于以上字段进行了同步（不可逆）</h2>
                    <h2>5. RPC放宽了超时和连接超时的设定</h2>
                    <h2>6. 修复了寄卖到期／续卖到期／后台强制到期时用户可操作时间倒计时显示bug</h2>
                    <h2>7. 满满退回列表／丢弃列表库位排序（字母序）</h2>
                    <h2>8. RA订单生成不再进行物品补录（功能已完成但未开放）</h2>
                    <h2>9. iframe内H5跳转时分享特性修复</h2>
                    <h2>10. 数据库修改</h2>
                    <h2>11. 此版本会影响到的底层功能：用户创建</h2>
                </ng-template>
            </nz-card>
        </div>
        <div nz-col [nzSpan]="11">
            <nz-card style="width:100%;">
                <ng-template #title>
                    <h2>4.4.1版本更新内容</h2>
                </ng-template>
                <ng-template #extra>
                    <a title="其实没什么用">反馈BUG</a>
                </ng-template>
                <ng-template #body>
                    <h2>1. 用户来源平台修改，修改为来源，平台，只二系统，软件下载源，用户地区，邀请人</h2>
                    <h2>2. 会员管理-列表展示修改，导出数据修改</h2>
                    <h2>3. 使用APP，微信服务号，小程序可以正常获取三方下载源和系统</h2>
                    <h2>4. 旧数据对于以上字段进行了同步（不可逆）</h2>
                    <h2>5. RPC放宽了超时和连接超时的设定</h2>
                    <h2>6. 修复了寄卖到期／续卖到期／后台强制到期时用户可操作时间倒计时显示bug</h2>
                    <h2>7. 满满退回列表／丢弃列表库位排序（字母序）</h2>
                    <h2>8. RA订单生成不再进行物品补录（功能已完成但未开放）</h2>
                    <h2>9. iframe内H5跳转时分享特性修复</h2>
                    <h2>10. 数据库修改</h2>
                    <h2>11. 此版本会影响到的底层功能：用户创建</h2>
                </ng-template>
            </nz-card>
        </div>
    </div>
</div>