<nz-layout class="body">
  <nz-header class="head">
    <div class="head_top">
      <h1>竞赛管理系统</h1>
    </div>
    <div class="head_top">
      <nz-dropdown>
        <button nz-button nz-dropdown>
          <i class="anticon anticon-user"></i>
          <i class="anticon anticon-down"></i>
        </button>
        <ul nz-menu>
          <li nz-menu-item>
            <a target="_blank" rel="noopener noreferrer" (click)="isVisible = true">
              <i class="anticon anticon-tool" style="margin-right:10px"></i>修改密码</a>
          </li>
          <li nz-menu-item>
            <a target="_blank" rel="noopener noreferrer" (click) = "out()">
              <i class="anticon anticon-logout" style="margin-right:10px"></i>退出</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
      <ul nz-menu class="menu" [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <li nz-submenu *ngFor="let item of list" [nzOpen]='name==item.name' (nzOpenChange)=change(item.name)>
          <span title>
            <i class="anticon {{ item.icon?item.icon:'anticon-user' }}"></i>
            <span class="nav-text">{{item.title}}</span>
          </span>
          <ul class="obj">
            <li nz-menu-item *ngFor="let item2 of item.children" [routerLink]="item2.link" [nzSelected]=select(item2.link)>{{item2.title}}</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content class="childview">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
<nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel($event)">
  <ng-template #modalTitle>
    修改密码
  </ng-template>
  <ng-template #modalContent>
    <span>请输入原密码</span>
    <nz-input [(ngModel)]="old_password" [nzSize]="'large'"></nz-input>
    <span>请输入新密码</span>
    <nz-input [(ngModel)]="new_pad" [nzSize]="'large'"></nz-input>
    <span>请再次输入新密码</span> <span *ngIf='new_pad!=new_pad_again' style="color:red">两次输入密码不一致</span>
    <nz-input [(ngModel)]="new_pad_again" [nzSize]="'large'"></nz-input>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="isVisible=false">
      返 回
    </button>
<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="updata(old_password,new_pad,new_pad_again)">
      提 交
    </button>
  </ng-template>
</nz-modal>

