<nz-card nzNoHovering class="card">
  <ng-template #title>
    <nz-breadcrumb>
      <nz-breadcrumb-item>竞赛管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>添加竞赛项目</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #body>
    <nz-steps [(nzCurrent)]="current">
      <nz-step [nzTitle]="'第一步'"></nz-step>
      <nz-step [nzTitle]="'第二步'"></nz-step>
      <nz-step [nzTitle]="'第三步'"></nz-step>
    </nz-steps>

    <div class="steps-content">
      <div *ngIf="current==0" class="item" style="width:300px">
        <h1>设置竞赛信息</h1>
        <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
          <div nz-col [nzSpan]="6" class="title">
            竞赛名称:
          </div>
          <div nz-col [nzSpan]="18">
            <nz-input [(ngModel)]="obj['name']" [nzPlaceHolder]="'large size'" [nzSize]="'large'"></nz-input>
          </div>
        </div>
        <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
          <div nz-col [nzSpan]="6" class="title">
            竞赛级别:
          </div>
          <div nz-col [nzSpan]="18">
            <nz-select style="width: 100%;" [(ngModel)]="obj['garde']" [nzSize]="'large'">
              <nz-option [nzLabel]="'国家级'" [nzValue]="1">
              </nz-option>
              <nz-option [nzLabel]="'省级'" [nzValue]="2">
              </nz-option>
              <nz-option [nzLabel]="'市级'" [nzValue]="3">
              </nz-option>
              <nz-option [nzLabel]="'校内'" [nzValue]="4">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
          <div nz-col [nzSpan]="6" class="title">
            竞赛类型:
          </div>
          <div nz-col [nzSpan]="18">
            <nz-select style="width: 100%;" [(ngModel)]="obj['type']" [nzSize]="'large'">
              <nz-option [nzLabel]="'统一考试'" [nzValue]="1">
              </nz-option>
              <nz-option [nzLabel]="'学科竞赛'" [nzValue]="2">
              </nz-option>
              <nz-option [nzLabel]="'文学艺术'" [nzValue]="3">
              </nz-option>
              <nz-option [nzLabel]="'体育竞技'" [nzValue]="4">
              </nz-option>
              <nz-option [nzLabel]="'其他'" [nzValue]="5">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
          <div nz-col [nzSpan]="6">
            参与方式:
          </div>
          <div nz-col [nzSpan]="18" class="title">
            <nz-select style="width: 100%;" [(ngModel)]="obj['mode']" [nzSize]="'large'">
              <nz-option [nzLabel]="'个人'" [nzValue]="1">
              </nz-option>
              <nz-option [nzLabel]="'团队'" [nzValue]="2">
              </nz-option>
              <nz-option [nzLabel]="'个人/团队'" [nzValue]="3">
              </nz-option>
            </nz-select>
          </div>
        </div>

      </div>
      <div *ngIf="current==1" style="width:400px">
        <h1 style="margin:10px auto">设置奖项</h1>
        <div nz-row>
          <div nz-col [nzSpan]="6" class="title">
            获奖类型
          </div>
          <div nz-col [nzSpan]="18">
            <nz-radio-group [(ngModel)]="obj['radioValue']">
              <label nz-radio [nzValue]="1">
                <span>分数</span>
              </label>
              <label nz-radio [nzValue]="2">
                <span>奖项</span>
              </label>
            </nz-radio-group>
          </div>
        </div>
        <div *ngIf="obj['radioValue']==2" style="margin-top:16px">
          <nz-tag *ngFor="let tag of tags; let i = index;" [nzClosable]="true" (nzClose)="handleClose(tag)"> {{tag.value}}
          </nz-tag>
          <button nz-button *ngIf="!inputVisible" [nzSize]="'small'" [nzType]="'dashed'" (click)="showInput()">+ New Tag</button>
          <input nz-input #input *ngIf="inputVisible" type="text" [(ngModel)]="inputValue" style="width: 78px;" (blur)="handleInputConfirm()"
            (keydown.enter)="handleInputConfirm()">
        </div>
        <div nz-row style="margin-top:32px">
          <div nz-col [nzSpan]="6" class="title">
            比赛项目
          </div>
          <div nz-col [nzSpan]="18">
            <nz-tag *ngFor="let tag of items; let i = index;" [nzClosable]="true" (nzClose)="handleClose2(tag)"> {{tag.value}}
            </nz-tag>
            <button nz-button *ngIf="!inputVisible2" [nzSize]="'small'" [nzType]="'dashed'" (click)="showInput2()">+ New Tag</button>
            <input nz-input #input *ngIf="inputVisible2" type="text" [(ngModel)]="inputValue2" style="width: 78px;" (blur)="handleInputConfirm2()"
              (keydown.enter)="handleInputConfirm2()">
          </div>
        </div>
      </div>
      <div *ngIf="current==2" class="item" style="width:300px">
        <h1>设置信息</h1>
        <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
          <div nz-col [nzSpan]="6" class="title">
            是否开启
          </div>
          <div nz-col [nzSpan]="18">
            <nz-switch [(ngModel)]="obj['status']"></nz-switch>
          </div>
        </div>
        <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
          <div nz-col [nzSpan]="6" class="title">
            截止日期
          </div>
          <div nz-col [nzSpan]="18">
            <nz-datepicker [(ngModel)]="obj['end_time']" [nzDisabled]="!obj['status']" [nzPlaceHolder]="'Select date'"></nz-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="steps-action">
      <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
        <span>上一步</span>
      </button>
      <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < 2">
        <span>下一步</span>
      </button>
      <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 2">
        <span>添加</span>
      </button>
    </div>
  </ng-template>
</nz-card>