<nz-card nzNoHovering class="memberbox">
  <ng-template #title>
    <div class="title">
      <nz-breadcrumb>
        <nz-breadcrumb-item>流程管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>审批管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>发起审批</nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </ng-template>
  <ng-template #body>
    <div nz-row>
      <div class="item" nz-col [nzSpan]="10" [nzOffset]="7">
        <span>竞赛名称</span>
        <nz-select style="width:240px" [(ngModel)]="obj['game_id']" (ngModelChange)="getItem(obj['game_id'])" nzShowSearch>
          <nz-option *ngFor="let item of gameList" [nzLabel]="item.name" [nzValue]="item.contest_id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row style="margin-top:16px">
      <div class="item" nz-col [nzSpan]="10" [nzOffset]="7">
        <span>项目名称</span>
        <nz-select style="width:240px" [(ngModel)]="obj['item_id']">
          <nz-option *ngFor="let item of Item" [nzLabel]="item.value" [nzValue]="item.key">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row style="margin-top:16px">
      <div class="item" nz-col [nzSpan]="10" [nzOffset]="7">
        <span>参与方式</span>
        <nz-select style="width:240px" [(ngModel)]="obj['mode']">
          <nz-option [nzLabel]="'个人'" [nzValue]="1">
          </nz-option>
          <nz-option [nzLabel]="'团队'" [nzValue]="2">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row style="margin-top:16px">
      <div class="item" nz-col [nzSpan]="10" [nzOffset]="7">
        <span>获得奖项/分数</span>
        <nz-input style="width:240px" *ngIf="obj['radiovalue']==1" [(ngModel)]="obj['garde']" [nzSize]="'large'"></nz-input>
        <nz-select *ngIf="obj['radiovalue']==2" style="width:240px" [(ngModel)]="obj['garde']">
          <nz-option *ngFor="let item of awardList" [nzLabel]="item.value" [nzValue]="item.key">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row style="margin-top:16px">
      <div class="item" nz-col [nzSpan]="10" [nzOffset]="7">
        <span>指导老师</span>
        <nz-select style="width:240px" [(ngModel)]="obj['teacher']" [nzMode]="'multiple'">
          <nz-option [nzLabel]="'无'" [nzValue]="-1"></nz-option>
          <nz-option *ngFor="let item of teaList" [nzLabel]="item.name" [nzValue]="item.account_id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row style="margin-top:16px">
      <div class="item" nz-col [nzSpan]="10" [nzOffset]="7">
        <span>审批描述</span>
        <nz-input style="width:240px" [(ngModel)]="obj['desc']" nzType="textarea" nzAutosize ></nz-input>
      </div>
    </div>
    <div nz-row style="margin-top:16px">
      <div style="text-align:center" nz-col [nzSpan]="14" [nzOffset]="5">
        <button nz-button (click)="put()" [nzType]="'primary'" [nzSize]="'large'">提交</button>
      </div>
    </div>
  </ng-template>
</nz-card>