<nz-table class="table" #nzTable [nzShowTitle]="true" [nzTotal]="10" [nzAjaxData]="List" [nzLoading]="loading" [nzScroll]="{ x: _app.x, y:_app.y }">
  <span nz-table-title class="table-title">
    <nz-breadcrumb>
      <nz-breadcrumb-item>流程管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>异常处理</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="button">
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="reload()">
        <i class="anticon anticon-sync"></i>
        <span>刷新当前页</span>
      </button>
        <span>
          <app-search [list]="searchList" (commitResults)="returnSearchChecked($event)"></app-search>
        </span>
      <span>
        <app-sort [sortList]="sortList" (selectedOption)="returnSortChecked($event)"></app-sort>
      </span>
    </div>
  </span>
  <ng-template #nzFixedHeader>
    <thead nz-thead>
      <tr>
        <th nz-th *ngFor="let item of TitleList">
          <span>{{item}}</span>
        </th>
      </tr>
    </thead>
  </ng-template>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let i of nzTable.data">
      <td nz-td><span class="click"  [routerLink]="['/index/primit']" [queryParams] ="{appli_id:i.appli_id}" >{{i.appli_id}}</span></td>
      <td nz-td>{{all_user[i.user_id]}}</td>
      <td nz-td>{{all_user[i.teachId]}}</td>
      <td nz-td>{{i.op_time*1000|date:'yyy-MM-dd HH:mm:ss'}}</td>
      <td nz-td>{{i.error_des}}</td>
    </tr>
  </tbody>
</nz-table>