<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="openSortModal()" id="sort">
<i class="anticon anticon-swap" id="sorticon"></i>
<span class="sortText">排序</span>
</button>
<nz-modal [nzVisible]="sortModalVisible" [nzTitle]="'排序'" [nzContent]="sortModalContent" (nzOnOk)="confirmModalSort($event)"
(nzOnCancel)="closeModalSort()">
    <ng-template #sortModalContent>
        <span>排序条件：</span>
        <nz-select style="width: 300px;" [(ngModel)]="selectedOption1" (ngModelChange)="sel1=false">
            <nz-option *ngFor="let option of sortList" [nzLabel]="option.label" [nzValue]="option">
                <ng-template #nzOptionTemplate><i class="anticon" [ngClass]="'anticon-'+option.label"></i> {{option.label}}</ng-template>
            </nz-option>
        </nz-select>
        <span *ngIf="sel1" style="color:red">请输入排序条件</span>
        <br>
        <br>
        <span>排序方式：</span>
        <nz-select style="width: 300px;" [(ngModel)]="selectedOption2" (ngModelChange)="sel2=false">
            <nz-option *ngFor="let option of sortType" [nzLabel]="option.label" [nzValue]="option">
                <ng-template #nzOptionTemplate><i class="anticon" [ngClass]="'anticon-'+option.label"></i> {{option.label}}</ng-template>
            </nz-option>
        </nz-select>
        <span *ngIf="sel2" style="color:red">请输入排序方式</span>
    </ng-template>
</nz-modal>